body {
  background-color: $background-color
}

h1,h2 {
  opacity: 0
}

.demo-container {
  position: absolute;
  top:50%;
  left:50%;
  height: $demo-container-height;
  width: $demo-container-width;
  margin-top: $demo-container-height-adjust;
  margin-left:$demo-container-width-adjust;
}

path {
    fill: none;
    stroke-width: 10;
    stroke-opacity: 1;
    stroke:#000000;
}

.chart-label {
  position:absolute;
}
